
body{margin:0;
    padding:0}

h1{text-align: center;}

    
footer{
    position: absolute;
    bottom: 0px;
    font-size:0.5rem
}

.photo {
    display:none;
}


.carousel {

    display: grid;
    max-height:70vh;
    grid-template-columns: 1fr 70% 1fr;
    grid-template-rows: 1fr 20px 40px;
    border: black solid 2px;
}
.larrow{
    grid-column-start:1;
    align-self: center;
    justify-self: end;
    
    border:solid black 1px}
#arrow-left{max-width:30px;
    align-self: center;}

.images {
            grid-column: 2/span 1;
            border:solid black 2px;
            justify-self:center
        }
.rarrow{grid-column-start:3;
    border: solid black 2px;
    align-self: center;
}
#arrow-right {
    max-width: 30px;
    align-self:center
}

.active {
    display: block;
    max-width:100%;
    max-height:70vh;
    
    grid-column:3/span 1}
.dots{grid-column:2/span 1;
    border: solid black 2px;
    justify-content: center;
        display: flex;}
.doticon{
    width:15px;
    height:15px;
    margin: 5px 10px;
}
.continent{grid-column-start:2;
    grid-row-start:3;
    border: solid black 2px;
    justify-self: center;
    margin:1px;
    padding:1px}
.continentname{margin: 1px;
    padding: 1px;
    align-items: center;
}
